<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>controller.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getInfo</servlet-name>
        <servlet-class>controller.getInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayRegister</servlet-name>
        <servlet-class>controller.DisplayRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>controller.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteInfo</servlet-name>
        <servlet-class>controller.deleteInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateInfo</servlet-name>
        <servlet-class>controller.updateInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayInfo</servlet-name>
        <servlet-class>controller.displayInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tinhDiem</servlet-name>
        <servlet-class>controller.tinhDiem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addOldStudent</servlet-name>
        <servlet-class>controller.addOldStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addInfo</servlet-name>
        <servlet-class>controller.addInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteOldStudent</servlet-name>
        <servlet-class>controller.deleteOldStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateOldStudent</servlet-name>
        <servlet-class>controller.updateOldStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getInfo</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayRegister</servlet-name>
        <url-pattern>/displayRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteInfo</servlet-name>
        <url-pattern>/deleteInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateInfo</servlet-name>
        <url-pattern>/updateInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayInfo</servlet-name>
        <url-pattern>/displayInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tinhDiem</servlet-name>
        <url-pattern>/tinh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addOldStudent</servlet-name>
        <url-pattern>/addOldStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addInfo</servlet-name>
        <url-pattern>/addInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteOldStudent</servlet-name>
        <url-pattern>/deleteOldStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateOldStudent</servlet-name>
        <url-pattern>/updateOldStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
